@import "tailwindcss";

@layer utilities {
  .font-inter {
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
  .font-space-grotesk {
    font-family: 'Space Grotesk', ui-sans-serif, system-ui, sans-serif;
  }
}